{% extends "base.html" %}
{% include 'nav-bar.html' %}
{% block content %}
<div class="content">

  <form class=" card border shadow-xl items-center rounded-3xl flex flex-col justify-center text-center p-10 lg:text-sm" method="post">
    <label class="label-input" for='url'>Enter URL</label>
    <input type="text" class="shadow-inner lg:text-base lg:h-10" id="url" name="url" placeholder="www.example.com"><br><br>

    <label class="label-input" for="data">Enter Data</label>
    <input type="text" class="shadow-inner" id="data" name="data" class="input" placeholder="h1, h2, h3 img, meta..."><br><br>
    
    <button type="submit" value="Scrape" class="w-72 justify-self-center">Scrape</button>
    <button type="submit" name="clear" id="clear-button" class="w-72 justify-self-center">Clear Data</button> <!-- Button to clear data -->
    <!-- <button type="submit" name="download">Download Report</button> -->
  </form>
  <br />
  <div >
  {% if request.method == 'POST' %}
  <h3 class=" flex mt-10 align-middle justify-center" >Total Number of elements: {{ results|length }}</h3><br />
  {% endif %}
  </div>
  <div class="content-results shadow-2xl">
    <ul class="income-text" id="result">
      <br />
      {% for result in results %}
      <li class="text-[#ccc] italic"> You will see results here </li>
      <li>{{ result }}</li><br />
      {% endfor %}
    </ul>
  </div>

</div>
{% include 'footer.html' %}

{% endblock %}