{% extends "base.html" %}
{% include 'nav-bar.html' %}
{% block content %}
<div class="content">
 <!--  <div class="flex flex-row bg-white w-full hero shadow-2xl rounded-xl">
    <div class="w-1/2 p-5 flex items-center">
      <h1 class="text-5xl font-bold "> Web Scraping: Unlocking the Power of Data</h1>
    </div>
    <div class="w-1/2 p-5"></div>
  </div>
  <div class="blank-space-large"></div> -->
  <div class="flex lg:flex-row sm:flex-col w-full justify-between">
    <form
      class=" card h-5/6 border shadow-xl items-center rounded-3xl flex flex-col justify-center text-center p-10 lg:text-sm"
      method="post">
      <label class="label-input" for='url'>Enter URL</label>
      <input type="text" class="shadow-inner lg:text-base lg:h-10" id="url" name="url"
        placeholder="www.example.com"><br><br>

      <label class="label-input" for="data">Enter Data</label>
      <input type="text" class="shadow-inner" id="data" name="data" class="input"
        placeholder="h1, h2, h3 img, meta..."><br><br>

      <button type="submit" value="Scrape" class="w-72 justify-self-center buttons">Scrape</button>
      <button type="submit" name="clear" id="clear-button" class="w-72 justify-self-center buttons">Clear Data</button>
      <!-- Button to clear data -->
      <!-- <button type="submit" name="download">Download Report</button> -->
    </form>
    <br />
    <div class="flex flex-col justify-center items-center shadow-slate-900">
      <div class="content-results h-10 resize-y shadow-inner scroll-smooth">
        <ul class="income-text" id="result">
          {% if request.method == 'POST' %}
          <div class="static header-results ">
            <h3 class="text-gray-700 ">Total Number of elements: {{ results|length }}</h3>
          </div>
          <br />
          {% endif %}
          {% for result in results %}
          <li class="text-[#ccc] italic mt-3"> Element result </li>
          <li>{{ result }}</li><br />
          {% endfor %}
        </ul>
        
        <div id="custom-alert" style="display: none;">
          <div id="alert-message"></div>
          <button id="alert-ok">OK</button>
        </div>
      </div>
    </div>
   
  </div>
  
</div>

<script>
  const listItems = document.querySelectorAll('#result li');

  listItems.forEach((item) => {
    item.addEventListener('click', (e) => {
      const text = e.target.textContent;
      const textarea = document.createElement('textarea');
      document.body.appendChild(textarea);
      textarea.value = text;
      textarea.select();
      document.execCommand('copy');
      document.body.removeChild(textarea);
      console.log('You copied:', text)
      alert(`You copied: ${text}`)
    });
  });
</script>
{% include 'footer.html' %}

{% endblock %}