
<style>
    .nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(11, 15, 35);
    width: 100dvw;
}
.buttons > a, .buttons > h1{
    padding:10px;
    border-radius: 20px;
}

.logo{
    background-clip: text;
    background-color: rgb(255, 255, 255);
  color: transparent;
  transition: background-color 1s ease;
}
.logo:hover, .buttons > a:hover{
    
    background-color: rgb(115, 203, 241);
}


</style>
<div class="nav-bar"> 
    <div>
    <h1 ><a href="/" class="logo">Webb Scraper</a></h1>
    </div>
    <div class="buttons">
    <a href="/">Home</a>
    <a href="/faq">F.A.Q</a>
    </div>
</div>